<p appColora [colore]="'#ccc'">Elemento con la direttiva colora</p>
<p appColora [colore]="'blue'">Elemento con la direttiva colora</p>
<p appColora [colore]="'red'">Elemento con la direttiva colora</p>


<button appEvento>In attesa di un evento</button>


<div *ngNotIf="false">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident inventore neque exercitationem, fugiat explicabo voluptates sed obcaecati modi, iste dolorum, debitis consequuntur. Assumenda eos harum reiciendis! Omnis illo ratione asperiores.
</div>

<hr>
<h1>Pipes</h1>
{{pizza | json}}<!--trasformo l'oggetto in json prima di mostrarlo-->

<hr>

{{pizza.prezzo | currency : 'INR' : 'code'}}<!--Aggiungo la valuta (Rupia indiana) prima di mostrare il prezzo-->

<hr>

{{oggi | date : 'dd/MM/y'}}<!--Cambio formato della data prima di mostrarla. Osserva nel .ts del componente per sapere cosa contengono queste variabili-->

<hr>

{{testo | cut}}<!--custom directive, vedi file cut.pipe.ts-->


