<!--[formGroup]="form" collega l'attuale form alla prop form del ts del componente-->
<form [formGroup]="form">

  <div class="form-group">

    <!--i reactive forms non usano ngModel e name, si servono della direttiva formControlName-->
    <input type="text" formControlName="nome" class="form-control"
    placeholder="Il tuo nome">
    <!--controlla cosa fa isValid dal ts del componente-->
    <span *ngIf="!isValid('nome') && isTouched('nome')" class="form-control">Devi inserire il nome</span>
  </div>

  <div class="form-group">

      <div formGroupName="authData" class="form-row row"><!--formGroupName crea un nuovo gruppo chiamato authData che rappresenta una diramazione nel formato dei dati inviati da questo form
      form : {
        authData : {
          email : campo,
          password : campo
        }
      }
      -->

          <div class="form-group col-6">
            <input type="email" class="form-control"
            placeholder="La tua mail" formControlName="email">
            <div *ngIf="getMessage('authData.email')"><!--se si attiva la validazione per il campo e-mail, riceviamo un messaggio. Se presente questo viene mostrato-->
              {{getMessage('authData.email')}}
            </div>
          </div>

          <div class="form-group col-6">

            <input type="password" class="form-control"
            placeholder="La tua password" formControlName="password">
          </div>

          <span *ngIf="!isValid('authData')">Dati non corretti</span>
      </div>


      <div formArrayName="sports">
        <h5>Sport praticati</h5>
        <button class="btn btn-warning" (click)="addSport()">Aggiungi Sport</button><!--Questo bottone aggiungerà un campo input all'array dei campi relativi agli sports-->

        <!--ngFor si accorgerà dell'arrivo di un nuovo input e si occuperà di generarne il markup-->
        <div class="form-group" *ngFor="let sport of getSports(); let i = index"><!--i ora ha un valore incrementale che parte da zero ed aumenta di 1 per ogni iterazione del ciclo-->
          <input type="text" class="form-control" [formControlName]="i"><!--il valore di formControlName viene assegnato dinamicamente: 1 poi 2 poi 3 ecc..-->
        </div>

      </div>

  </div>




  <!--f si riferisce al form (riga 2)-->
  <button (click)="send()" class="btn btn-primary">Invia</button>

</form>
